In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder, OneHotEncoder

In [35]:
dataset = pd.read_csv(r"C:\Users\sscomputers\Desktop\30 Days\Day 4\Customer Churn.csv")
dataset.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

In [36]:
encoder = LabelEncoder()
dataset["gender"] = encoder.fit_transform(dataset["gender"])

In [37]:
# dataset["Partner"].head(5)
dataset["Partner"].unique()
dataset["Partner"] = encoder.fit_transform(dataset["Partner"])
dataset["Partner"]

0       1
1       0
2       0
3       0
4       0
       ..
7038    1
7039    1
7040    1
7041    1
7042    0
Name: Partner, Length: 7043, dtype: int32

In [38]:
dataset

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,0,0,1,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,1,0,0,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,1,0,0,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,1,0,0,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,0,0,0,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,1,0,1,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,0,0,1,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,0,0,1,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,1,1,1,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,1,0,0,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [39]:
columns = ['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
    'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
    'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
    'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
    'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn']

new = []

for column in columns:
    if dataset[column].dtype == "object":
        if dataset[column].nunique() == 2:
            new.append(column)

In [40]:
col = ['Dependents', 'PhoneService', 'PaperlessBilling', 'Churn']
for c in col:
    dataset[c] = dataset[c].map({"Yes" : 1, "No" : 0})

In [41]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   int32
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   int32
 4   Dependents        7043 non-null   int64
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   int64
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   int64
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   int64
dtypes: float64(1), int32(2), int64(6), object(12)
memory usage: 1.1+ MB

In [42]:
columns = ['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
    'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
    'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
    'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
    'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn']

new = []

for column in columns:
    if dataset[column].dtype == "object":
        new.append(column)
print(new)

['customerID', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaymentMethod', 'TotalCharges']

In [43]:
cols = ['MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaymentMethod', 'TotalCharges']

for col in cols:
    print(f"The Column name is: {col}, and unique value is {dataset[col].unique()}, and num of uniques {dataset[col].nunique()}")

The Column name is: MultipleLines, and unique value is ['No phone service' 'No' 'Yes'], and num of uniques 3
The Column name is: InternetService, and unique value is ['DSL' 'Fiber optic' 'No'], and num of uniques 3
The Column name is: OnlineSecurity, and unique value is ['No' 'Yes' 'No internet service'], and num of uniques 3
The Column name is: OnlineBackup, and unique value is ['Yes' 'No' 'No internet service'], and num of uniques 3
The Column name is: DeviceProtection, and unique value is ['No' 'Yes' 'No internet service'], and num of uniques 3
The Column name is: TechSupport, and unique value is ['No' 'Yes' 'No internet service'], and num of uniques 3
The Column name is: StreamingTV, and unique value is ['No' 'Yes' 'No internet service'], and num of uniques 3
The Column name is: StreamingMovies, and unique value is ['No' 'Yes' 'No internet service'], and num of uniques 3
The Column name is: Contract, and unique value is ['Month-to-month' 'One year' 'Two year'], and num of uniques 3
The Column name is: PaymentMethod, and unique value is ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)'], and num of uniques 4
The Column name is: TotalCharges, and unique value is ['29.85' '1889.5' '108.15' ... '346.45' '306.6' '6844.5'], and num of uniques 6531

In [44]:
cols = ['MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaymentMethod']

for col in cols:
    unique = dataset[col].unique()
    
    mapping = {v: i for i, v in enumerate(unique)}
    dataset[col] = dataset[col].map(mapping)

In [49]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   int32
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   int32
 3   Dependents        7043 non-null   int64
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   int64
 6   MultipleLines     7043 non-null   int64
 7   InternetService   7043 non-null   int64
 8   OnlineSecurity    7043 non-null   int64
 9   OnlineBackup      7043 non-null   int64
 10  DeviceProtection  7043 non-null   int64
 11  TechSupport       7043 non-null   int64
 12  StreamingTV       7043 non-null   int64
 13  StreamingMovies   7043 non-null   int64
 14  Contract          7043 non-null   int64
 15  PaperlessBilling  7043 non-null   int64
 16  PaymentMethod     7043 non-null   int64
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   object
 19  Churn             7043 non-null   int64
dtypes: float64(1), int32(2), int64(16), object(1)
memory usage: 1.0+ MB

In [48]:
dataset.drop('customerID', axis=1, inplace=True)

In [52]:
dataset["TotalCharges"].nunique()

6531

In [55]:
dataset["TotalCharges"] = pd.to_numeric(dataset["TotalCharges"], errors = "coerce")

In [58]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   int32
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   int32
 3   Dependents        7043 non-null   int64
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   int64
 6   MultipleLines     7043 non-null   int64
 7   InternetService   7043 non-null   int64
 8   OnlineSecurity    7043 non-null   int64
 9   OnlineBackup      7043 non-null   int64
 10  DeviceProtection  7043 non-null   int64
 11  TechSupport       7043 non-null   int64
 12  StreamingTV       7043 non-null   int64
 13  StreamingMovies   7043 non-null   int64
 14  Contract          7043 non-null   int64
 15  PaperlessBilling  7043 non-null   int64
 16  PaymentMethod     7043 non-null   int64
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7032 non-null   float64
 19  Churn             7043 non-null   int64
dtypes: float64(2), int32(2), int64(16)
memory usage: 1.0 MB

In [60]:
x = dataset.drop("Churn", axis = 1)
Y = dataset["Churn"]

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, Y, test_size = 0.20, random_state = 42)

In [62]:
x_test

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
185,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,1,0,24.80,24.80
2715,1,0,0,0,41,1,2,2,2,2,2,2,2,2,0,1,2,25.25,996.45
3825,0,0,1,1,52,1,1,2,2,2,2,2,2,2,2,0,1,19.35,1031.70
1807,0,0,0,0,1,1,1,1,0,1,1,0,0,0,0,0,0,76.35,76.35
132,1,0,0,0,67,1,1,0,0,1,0,1,0,0,2,0,2,50.55,3260.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6366,0,0,1,0,64,1,1,0,0,0,1,1,0,1,2,1,1,68.30,4378.80
315,1,0,1,1,51,1,2,1,1,0,0,1,1,1,1,0,3,110.05,5686.40
2439,1,0,1,1,17,1,1,2,2,2,2,2,2,2,1,0,2,19.90,329.75
5002,0,0,1,1,69,0,0,0,1,1,1,0,0,1,2,1,3,43.95,2960.10
1161,1,0,0,1,1,0,0,0,0,0,0,0,0,0,0,1,1,31.35,31.35